<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MovieHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/new" tabindex="-1">Add New Title</a>
                </li>
                <form action="/logout?_method=DELETE" method="POST">
                    <input type="submit" value="Logout"> 
                    <!-- REVIEW: Icon here instead? <button type="submit"><i class="fas fa-sign-out-alt fa-xs"></i>Logout</button> -->
                </form>
            </ul>
            <!-- REVIEW: Search is stretch goal
                <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button> 
            </form> 
            -->
        </div>
    </div>
</nav>