<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Welcome to Blog App</h1>
        <ul>
          <li>
            <a href="/movies">Movies</a>
          </li>
          <li>
            <a href="/comments">comments</a>
          </li>
        </ul>
      </nav>
      <main>
        <form action="/comments" method="POST">
          <p>
            <input type="text" name="title" placeholder="Title" />
          </p>
          <p>
            <textarea type="text" name="body" placeholder="Body"></textarea>
          </p>
          <p>
            <textarea type="text" name="author" placeholder="author"></textarea>
          </p>
          <!-- create a drop down of all available authors -->
          <p>
          <select name ='movie'>
            <option default>Select a movie</option>
     
            <% movies.forEach ( movie => { %>
                <option value="<%= movie._id %>">
                  <%= movie.name %>
                </option>
               <% }) %>
          </select>
          </p>
  
          
  
          <input type="submit" value="Create Comment" />
        </form>
      </main>
</body>
</html>