<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments</title>
  </head>
  <body>
    <nav>
      <h1>Comment Details</h1>
      <ul>
        <li>
          <a href="/movies">Movies</a>
        </li>
        <li>
          <a href="/comments">Comments</a>
        </li>
        <li>
          <a href="/comments/new">Add a new comment</a>
        </li>
      </ul>
    </nav>

    <main>
      <h2>List of comments</h2>
<h1><%= comment.body %> </h1>
    </main>
  </body>
</html>