<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Index</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js"></script>

</head>
<body>
    <a href="/">Home</a>
    <a href="/movies/">View All</a>
    <a href="/movies/new">Add New Title</a>
    <h1>Movie Hub - Index</h1>
    
    <h3>List of All Movies</h3>
    <ul>
        <% movies.forEach(movie => { %>
            <li>
                <a href="/movies/<%= movie._id %>"><%= movie.name %></a>
                <a href="/movies/<%= movie._id %>/edit">Edit</a>
                <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete"/>
                </form>
            
            </li>
        <% }) %>
    </ul>
</body>
</html>