<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<% const context = {title: "Add New"} %> 
<%- include("../includes/_head.ejs", context) %>

<body>
    
    <!-- NavBar -->
    <%- include("../includes/_nav.ejs") %>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">MovieHub - Add New</h1>
                <p class="lead text-muted">Add A New Movie</p>

                <!-- Add New Form -->
                <form action="/movies" method="POST">
                    <p>
                        <input type="text" name="name" placeholder="Movie Name" />
                    </p>
                    <p>
                        <input type="text" name="details" placeholder="Movie Details" />
                    </p>
                    <p>
                        <input type="text" name="year" placeholder="Movie Year" />
                    </p>
            
                    <input type="submit" class="btn btn-sm btn-primary" value="Create" />
                </form>

            </div>
            </div>
        </section>
    </main>
</body>
</html>