<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js"></script>

</head>
<body>
    <a href="/">Home</a>
    <a href="/movies/">View All</a>
    <a href="/movies/new">Add New Title</a>
    <h1>Movie Hub - Add New</h1>
    
    <form action="/movies" method="POST">
        <p>
            <input type="text" name="name" placeholder="Movie Name" />
        </p>
        <p>
            <input type="text" name="details" placeholder="Movie Details" />
        </p>
        <p>
            <input type="text" name="year" placeholder="Movie Year" />
        </p>

        <input type="submit" value="Create" />
    </form>
</body>
</html>