<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Specific</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Link Scripts -->
    <script src="/scripts/app.js"></script>

</head>
<body>
    <a href="/">Home</a>
    <a href="/movies/">View All</a>
    <a href="/movies/new">Add New Title</a>
    <h1>Movie Hub - Show</h1>
    
    <h3><%= movie.name %> <%= movie.year %></h3>
    <p><%= movie.details %></p>
</body>
</html>