body {
    background-color: #1f1f1f;
    background-image: url("../resources/movie-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* color: whitesmoke; */
    min-height: 100vh;
    min-width: 100vw;
    /* display: flex; */
    /* align-items: center; */
    /* backdrop-filter: brightness(30%) saturate(30%); */
    /* flex-flow: row wrap; */
    /* flex-direction: column; */
    /* text-align: center; */
}

.py-5 {
    /* padding-top: 3rem!important; */
    padding-bottom: 0.1rem!important;
}